MyProject/Binaries/
MyProject/Intermediate/
MyProject/Saved/
MyProject/.vs/
MyProject/Saved/Logs/MyProject.log
MyProject/Saved/Config/CrashReportClient/UE4CC-Windows-C58DBFAB4B45C730D56F319DE1B57787/CrashReportClient.ini
